.story-list {
  padding: 0 1em;

  &__story {
    padding: 1em 0;
  }

  &__story-title {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.5em;
    
    a {
      color: #333;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__story-details {
    font-size: 0.8rem;
    font-weight: bold;

    span {
      margin-right: 1em;
    }

    a {
      color: #6600FF;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}